/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h4 {
  color: rgba(255, 255, 255, 1) ;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.one {
  background-image: linear-gradient(0deg, rgba(81, 67, 142, 0.5) 0%, rgba(81, 67, 142, 0.5) 100%), url("../../images/bg2.jpg");
  opacity: .75;
  height: 15em;
}
section.module.two {
  background-image: linear-gradient(0deg, rgba(81, 67, 142, 0.5) 0%, rgba(81, 67, 142, 0.5) 100%), url("../../images/bg1.jpg");
  opacity: .75;
  height: 15em;
}
section.module.three {
  background-image: linear-gradient(0deg, rgba(81, 67, 142, 0.5) 0%, rgba(81, 67, 142, 0.5) 100%), url("../../images/bg3.jpg");
  opacity: .75;
  height: 15em;
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
